@import "~bootstrap/scss/bootstrap";

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

.card-img-top {
  height: 18rem;
}

.cover-box {
  width: 40%;
}

.details {
  width: 100%;
}

.bold {
  font-weight: 700;
}